.holder{
    width:1000px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    outline: 6px solid;
}
.item{
    font-size: 50px; 
    /* flex-basis: calc((100% - 2 * 0px) / 3); */
}
.item1{
font-size: 50px; 
flex-basis: calc((100% - 1 * 0px) / 2);
}
.item1:nth-child(1){
    background-color: rgb(174, 13, 13);
     order: 0;
     flex-grow: 1;
}
.item:nth-child(2){
    background-color: rgb(64, 131, 193);
     order: 3;
     flex-grow: 1;
}
.item:nth-child(3){
    background-color:rgb(96, 36, 143);
     order: 2;
     flex-grow: 1;
}
.item:nth-child(4){
    background-color:green;
     flex-grow: 1;
     order: 4;
}
.item1:nth-child(5){
    background-color:rgb(255, 187, 0) ;
    flex-grow: 1;
    flex-shrink: 1;
}